<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Code Analysis Rules" Description="Code analysis rules" ToolsVersion="15.0">

    <IncludeAll Action="Warning" />

    <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
<!--
        <Rule Id="CAXXXX" Action="None" />
-->
    </Rules>

    <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
<!--
        <Rule Id="CSXXXX" Action="None" />
-->
    </Rules>

    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
<!--
        <Rule Id="SAXXXX" Action="None" />
-->
        <!-- Prefix local calls with this -->
        <Rule Id="SA1101" Action="None" />

        <!-- Field '_xxxxxxx' should not begin with an underscore -->
        <Rule Id="SA1309" Action="None" />

        <!-- Element should not be on a single line -->
        <Rule Id="SA1502" Action="None" />

        <!-- The file header is missing or not located at the top of the file -->
        <Rule Id="SA1633" Action="None" />
    </Rules>

</RuleSet>
