<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>

  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="console" enabled="True">
        <Configuration>
          <Verbosity>detailed</Verbosity>
        </Configuration>
      </Logger>
      <Logger friendlyName="trx" enabled="True">
        <Configuration>
          <LogFileName>TestResults.xml</LogFileName>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>

</RunSettings>